﻿@model FizzBuzz.Web.Models.DisplayViewModel

@{
    ViewBag.Title = "Display";
}

<h3>Displaying the fizzbuzz output</h3>

@using PagedList;
@using PagedList.Mvc;

<style>
    .fizz {
        color: blue
    }

    .buzz {
        color: green
    }
</style>
<html>
<body>

    @foreach (var word in Model.Message)
    {
        <ul>
            <li class="@word">@word</li>
        </ul>
    }

</body>
</html>

@Html.PagedListPager((IPagedList)Model.Message, page => Url.Action("Display", "Home", new { page = page, number = Model.Number }), PagedListRenderOptions.MinimalWithPageCountText)



