﻿@model FizzBuzz.Web.Models.InputModel

@{
    ViewBag.Title = "Input";
}

<h3>Enter the number</h3>
@using (Html.BeginForm("Output", "Home"))
{
    <label for="UserInput">input number</label>
    <div>@Html.ValidationMessageFor(m => m.UserInput, "", new { @class = "text-danger" })</div>
    <input type="text" id="UserInput" class="form-control" name="UserInput" value="@Model.UserInput" />
    <button type="submit" name="submit" class="btn btn-info" id="submit" value="submit">submit</button>
}

